<h1>404</h1>
<h2>{{ "general.404.title" | t }}</h2>
<div>{{ "general.404.subtext_html" | t }}</div>

{% schema %}
  {
    "name": "Not Found",
    "presets": [
      {
        "name": "Not Found"
      }
    ]
  }
{% endschema %}