.header a {
  color: inherit;
}

.header__nav {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.header__title {
  color: dimgray;
  flex: 1;
}
.header__title-local {
  text-transform: uppercase;
  color: cadetblue;
}

.header__menu {
  display: flex;
  list-style: none;
}

.header__menu-item {
  margin-right: 2.2rem;
}
