.header a {
  color: inherit;
  text-decoration: none;
}

.header__nav {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.header__title {
  color: dimgray;
  flex: 1;
}
.header__title-local {
  text-transform: uppercase;
  color: cadetblue;
}

.header__menu {
  display: flex;
  list-style: none;
}

.header__menu-item {
  margin-right: 2.2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.header__menu-item a {
  transition: color 0.3s ease;
}

.header__menu-item a:hover {
  color: rgb(53, 53, 53);
}
