.product_page {
  padding: 2rem 0;
}

.product_page__inner {
  display: flex;
  gap: 2rem;
}

.product_page__gallery {
  flex: 1;
}

.product_page__gallery .gallery__img {
  max-width: 100%;
}

.product_page__content {
  flex: 1;
}
