.product_page {
  padding: 2rem 0;
}

.product_page__inner {
  display: flex;
  gap: 2rem;
}

.product_page__gallery {
  flex: 1 1 auto;
}

.product_page__content {
  flex: 1 1 auto;
}
