{% paginate collection.products by 5 %}
	<h1>My collection: {{ collection.title }}</h1>

	<select id="sort_by">
		{% assign sort_by = collection.sort_by | default: collection.default_sort_by  %}

		{% for option in collection.sort_options %}
			<option value="{{option.value}}" {% if option.value == sort_by %}selected{% endif %}>
				{{option.name}}
			</option>
		{% endfor %}
	</select>

  {% for product in collection.products %}
    {% render 'product-item', product: product %}
  {% endfor %}

  {{- paginate | default_pagination }}
{% endpaginate %}

<script>
	/*Shopify.queryParams = {}
	console.log("Search location:", location.search)
	if (location.search.length) {
		let params = location.search.substr(1).split("&")
		for(let i = 0; i < params.length; i++) {
			let keyValue = params[i].split('=')
			if (keyValue.length) {
				Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1])
			}
		}
	}

	document.getElementById("sort_by").addEventListener("change", function(e) {
		const value = e.target.value
		Shopify.queryParams.sort_by = value
		location.search = new URLSearchParams(Shopify.queryParams).toString()
	})*/
</script>