{% assign home_colletion = collections["frontpage"] %}
<h3>{{ home_colletion.title }}</h3>

{% for product in home_colletion.products %}
  {% render 'product-item', product: product %}
{% endfor %}